header{
  /* padding: 25px 0 125px 0; */
  padding: 25px 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}
nav ul li > *{
  padding: 7px;
}
.navBarLeftPart{
    display: flex;
}
.navBarLeftPart li:not(:last-child){
  margin-right: 145px;
}

.navBarRightPart a {
  /* cursor: pointer; */
  position: relative;
  z-index: 2;
}


.submenu {
  display: block;
  position: absolute;
  z-index: 1;
  top: -500px;
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* background-color: #f12d2d; */
  }
  .submenu li{
    padding: 16px 7px;
  }
  
 .submenu.open{
    transform: translateY(550px);
  }