.accordion{
    overflow: hidden;
    border-bottom: 1.25px solid #FFFFFF;
    padding: 45px 0;
}
.accordionContent{
    /* transition: all .3s cubic-bezier(1, 0, 0, 1); */
    transition: max-height .3s ease-out;
    max-height: 0;
    overflow: hidden;
}
.accordionContent.open{
    max-height: none;
    overflow: visible;
}
.accordionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordionHeader h2{
    font-size: calc(5vw + 2px);
    padding-right: 2.3vw;
    padding: 0px;
}

.imgWrapper{
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.imgWrapper div{
    display: flex;
    max-width: 5vw;
    max-height: 5vw;
}
.imgWrapper div img{
    width: 100%;
    /* height: auto; */
}
@media (max-width:450px){
    .accordion{
        padding: 25px 0;
    }
   
}