.accordion{
    overflow: hidden;
    border-bottom: 1.25px solid #FFFFFF;
    padding: 45px 0;
}
.accordionContent{
    transition: all .3s ease;
    max-height: 0;
    overflow: hidden;
}
.accordionContent.open{
    max-height: none;
    overflow: visible;
}
.accordionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordionHeader h2{
    padding: 0px;
}

/* .accordion ul{
    padding-left: 15px;
    padding-top: 60px;
    list-style: decimal;
}
.accordion ul li{
    padding-bottom: 10px;
}

.accordion ul li:last-child  {
    margin-left:-15px ;
    padding-top: 40px;
} */

