.carousel img{
    width: 100%;
    min-width: 100%;
    aspect-ratio: 1 / 1;

  }
  .carousel .loading{
    background-image: linear-gradient(90deg, #3a3e3e 0px, #404444 45px, #3a3e3e 80px);
      animation: shine 2.5s infinite linear;
  background-size: 350%;

}
.carousel .loaded{
  background-image: none;
  animation: none;
}


@keyframes shine {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: 10%;
  }
}
