@import url('../node_modules/reset-css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Raleway&display=swap');

*{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
/* #root{
    overflow: hidden;
} */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    background-color: #1E1E1E;
    position: relative;
    z-index: 3;
 }
body{
    position: relative;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
header,section{
    padding: 0 120px;
    /* margin: 0 120px; */
}
p,li{
    line-height: 130%;
}
h1,h2{
    font-size: 105px;
    line-height: 100px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}
h2{
    font-size: 75px;
    line-height: 91px;
    padding-bottom: 100px;
}
#aboutProject{
    padding-bottom: 180px;
}
@media (max-width:835px) {
    body{
        padding-left:30px ;
        padding-right:30px ;
        font-size: 14px;
    }
    h1{
        font-size: 70px;
    }
    h2{
        font-size: 60px;
    }
    p{
        line-height: 16.44px;
    }
}