.container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.container img{
    width: 100vw;
    height: 230%;
    height: 100%;
}

@media (max-width:840px) {
        .container img{    
            object-fit: cover;
            object-view-box: inset(0% 0% 30% 50%);
        }
}