.aboutProject{
    padding-bottom: 270px;
    padding-top: 30px ;
}
.content{
    display: flex;
    flex-direction: row;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    width: calc(24% + 10vw);
}

.imgWrapper{
    width: 70%;
}
.imgWrapper img {
    width: 100%;
}
.contentWrapperLeft p{
    margin-bottom: 70px;
    padding-right: 40px;
}

@media (max-width: 900px) {
    .contentWrapper{
        width: 45%;
    }
    .contentWrapper img{
        max-width: 255px;
    }
    .imgWrapper{
        width: 55%;
    }
}
@media (max-width: 840px) {
    .aboutProject{
        padding-bottom: 150px;
    }
}
@media (max-width:768px) {
    .aboutProject{
        padding-bottom: 280px;
    }
 .aboutProject h2 {
    display: flex;
    padding-bottom: 60px;
 }
 .content{
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 7vw;
 }
 .content div{
    width: 100%;
 }
 .contentWrapper div{
    position: absolute;
    width: 30vw;
    max-width: 165px;
    bottom: -140px;
 }
 .contentWrapper div img{
    width: 100%;
 }
 .contentWrapper p{
    margin-bottom:0px;
    padding-right: 0;
 }
}