#aboutProject{
    padding-bottom: 180px;
}
.content{
    display: flex;
    flex-direction: row;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    width: calc(24% + 10vw);
}

.imgWrapper{
    width: 70%;
}
.imgWrapper img {
    width: 100%;
}
.contentWrapperLeft p{
    margin-bottom: 70px;
    padding-right: 40px;
}

@media (max-width: 900px) {
    .contentWrapper{
    width: 45%;
    }
    .contentWrapper img{
    max-width: 255px;
    }

    .imgWrapper{
    width: 55%;
    }

}