/* .backgroundContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.background{
    /* width: 100%;
    height: 100%;
    position: absolute; */

    width: 110vw;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;
    }
.background svg{
    width: 100%;
    height: 100%;
}