.aboutBloodCells h2{
    display: flex;
    flex-direction: column;
}
.aboutBloodCells{
    position: relative;
    overflow: hidden;
}
.bgImg{
    position: absolute;
    bottom: -270px;
    left: -120px;
}
@media (max-width:900px) {
    .bgImg{
        width: 50%;
        left: 60%;
        bottom: -120px;
    }
    .bgImg img{
        width: 100%;
    }
}
@media (max-width:450px) {
    .bgImg{
        width: 100%;
        left: 0;
        bottom: calc(-41vw - 3%);
    }
    
}