.content{
    display: flex;
    position: relative;
    gap: 13px;
    padding-bottom: 260px;
}
.imgWrapper{
    width: 100%;
}
.imgWrapper img{
    width: 100%;
}
.imgWrapperToLeft{
    position: relative;
    right: 200px;
}

.content h3{
    width: 100%;
}
.content article {
    display: flex;
    flex-flow: row wrap;
}
.content article {
    width: calc(100%/3);
    padding: 0 10px;
    gap: 50px;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.dates{
    width: 50%;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.contentWrapper p {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contentWrapper time {
    font-size: 30px;
}


@media (max-width:900px) {
    .datesWrapper{
        position: absolute;
        height: 100%;
        /* gap: 250px; */
        top: -40px;
    }
    .content h3{
        position: relative;
    top: -40px;
    }
    .content .dates{
        position: relative;
        justify-content: flex-end;
    }
    .content article{
        width: calc(100%/2);
    }
    .imgWrapperToLeft{
        right: -200px;
        width: 182px;
        height: 182px;
    }
}