.content{
    display: flex;
    position: relative;
    gap: 30px;
    padding-bottom: 260px;
}
.imgWrapper{
    width: 100%;
}
.imgWrapper img{
    width: 100%;
}
.imgWrapperToLeft{
    position: relative;
    right: 168px;
}

.content h3{
    width: 100%;
}
.content article {
    display: flex;
    flex-flow: row wrap;
}
.content article {
    width: calc(100%/3);
    padding: 0 10px;
    gap: 50px;
}
.contentWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.dates{
    width: 50%;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.contentWrapper p {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contentWrapper time {
    font-size: 30px;
}


@media (max-width:900px) {
    .contentWrapper{
        padding-bottom: 30px;
        gap: 15px;
    }
    .contentWrapper p{
        gap: 24px;
    }
    .datesWrapper{
        position: absolute;
        height: 100%;
        /* gap: 250px; */
        top: -40px;
    }
    .content{
        padding-bottom: 140px;
    }
    .content h3{
        position: relative;
        top: -40px;
    }
    .content .dates{
        position: relative;
        justify-content: flex-end;
    }
    .content article{
        width: calc(100%/2);
        padding: 0;
    }
    .imgWrapperToLeft{
        right: -200px;
        width: 182px;
        height: 182px;
    }
}

@media (max-width:840px) {
    .content h3{
        top: -10px;
    }
    .dates{
        top: 40px;
        gap: 0;
    }
    .dates p{
        margin-bottom: 25px;
    }
}

@media (max-width:768px) {
    .content {        
        flex-direction: column;
        /* gap: 40px; */

    }
    .content h3{
        position: absolute;
        top: -33px;
    }
    .content article{
        width: 100%;
    }
    .content .imgWrapper {
        position: absolute;
    }
    .imgWrapperToLeft{
        top: 12%;
        left: 65%;
    }
    .lastBlock .imgWrapper {
        left: 59%;
        width: calc(26% + 13vw);
        top: 35%;
        height: 16%;
        height: 25%;

    }
    .lastBlock img {
        width: 100%;
        height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    }
    .content article {
        position: static;
    }
    .datesWrapper{
        order: 1;
    }
    .lastBlock{
        order:2;
    }
    .dates{
        width: 36%;
        width: 44%;

    }
}
@media (max-width:500px) {
    .imgWrapperToLeft{
        top: 15%;
    }
}
@media (max-width:400px) {
    .lastBlock .imgWrapper {
        width: 160px;
        height: auto;
        top: 35%;
        left: calc(100% - 160px);
    }
    .lastBlock img {
        aspect-ratio: 0.4 / 0.65;
    }
}